.container {
  background-image: url("../../Assets/Images/eclipse.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer > h4 {
  color: #fff;
  text-align: center;
  font-family: Futura;
  font-size: 63.388px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
