.container {
  min-height: 100vh;
  position: relative;
}

.header {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.body {
  height: calc(100vh - 100px);
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    min-height: 100vh;
  }

  .header {
    height: 80px;
  }

  .body {
    min-height: calc(100vh - 80px);
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-height: 100vh;
    height: auto;
  }

  .header {
    height: 80px;
  }

  .body {
    /* min-height: calc(100vh - 80px); */
    height: auto;
  }
}
