@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: Futura;
  src: url("/src/Assets/Fonts/futura/Futura Book font.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url("/src/Assets/Fonts/futura/Futura Book Italic font.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Futura;
  src: url("/src/Assets/Fonts/futura/Futura Bold font.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url("/src/Assets/Fonts/futura/Futura Bold Italic font.ttf");
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Lato, Futura -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  box-sizing: border-box;
  color: #fff;
}

code {
  font-family: Lato, Futura source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.buttonInner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error {
  margin-bottom: 24px;
}
