.container {
  height: 100%;
  padding: 0 24px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > img {
  width: 230px;
  height: 70%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    height: 100%;
    padding: 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .container > img {
    width: 180px;
    height: 80%;
  }
}
